.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 3px solid blue;
    border-radius: 20px;
    height: 60px;
    width: 456px;

}
button{
    font-size: 30px;
    background: blueviolet;
    width: 102px;
    height: 58px;
    margin: 5px;
    border-radius: 20px;
}
.calculator{
    display: inline-block;
    background-color: rgb(123, 188, 248);
    padding: 23px;
    border-radius: 53px;
    border: 2px solid blue;

    
    
}
h1{
    font-size: 45px;
}